- content_for :page_title do
  = t('settings.membership_subscriptions')

- content_for :header_tags do
  = javascript_pack_tag 'admin', async: true, crossorigin: 'anonymous'

.membership-cert-info
  .div-button
    .content
      %span 会员订阅
      %span 信息同步时间:
      %span 证书标识:
      %span 证书状态:
      %span 绑定日期:
      %span 有效日期:
      %button 刷新信息
      %button 解绑
